a {
  text-align: center;
}

h1 {
  text-align: center;
  color: pink;
  font-size: 40px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  margin-bottom: 5px;
}

img {
  text-align: center;
}

.cover-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}

body{
  background-color: LavenderBlush;
}
