a {
  text-align: center;
}

h1 {
  text-align: center;
  color: pink;
  font-size: 60px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2{
  color: pink;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Carattere', cursive;
}

p {
  margin-left: 1000px;
  margin-right: 200px;

}

img {
  text-align: center;
}

.cover-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px LightPink;
}

body{
  background-color: MistyRose;
}
