a {
  text-align: center;
}

h1 {
  text-align: center;
  color: pink;
  font-size: 60px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.abouth2{
  color: pink;
  font-size: 60px;
  font-family: 'Carattere', cursive;
  float: right;
  margin-right: 400px;
  margin-top: -580px;
}

.aboutp {
  float: right;
  margin-top: -500px;
  margin-left: 875px;
  margin-right: 200px;
  display: inline;
  font-size: 30px;
}

img {
  text-align: center;
}

.cover-center {
  display: block;
  margin-left: 150px;
  margin-right:700px ;
  width:40%;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px LightPink;
  vertical-align: middle;
}

body{
  background-color: MistyRose;
}
